@model BnGClub.Models.Users
@{
    ViewData["Title"] = "Profile";
}
<h2>Profile for: @Model.FullName</h2>
<form asp-action="Edit">
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.userFName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.userFName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.userMName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.userMName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.userLName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.userLName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.userPhone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.userPhone)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.userEmail)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.userEmail)
            </dd>
            <dt>
                Notifications?:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.notificationOptIn)
            </dd>
        </dl>
    </div>
</form>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit Profile</a>
</div>