@model IEnumerable<BnGClub.Models.Child>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.childDOB)
            </th>
            @if (!User.IsInRole("Parent"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.UserID)
                </th>
            }
            <th>
                Activities
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.childDOB)
            </td>
            @if (!User.IsInRole("Parent"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>
            }
            <td>
                @foreach (var a in item.ChildEnrolleds)
                {
                    @a.Activities.actName <br />
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
