@model BnGClub.Models.Message

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.msgTo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.msgTo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.msgFrom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.msgFrom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.msgBody)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.msgBody)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
