@model IEnumerable<BnGClub.Models.Schedules>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p><br />
<form asp-action="InsertFromExcel" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label class="control-label">Excel File:</label>
        <input type="file" class="" name="theExcel" /><br />
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" value="Upload Data" class="btn btn-primary" /><br /><br />
                <a asp-action="DownloadSchedules" class="btn btn-info">Download Schedules Report</a>
            </div>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.startTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateAct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActID)
            </th>
            <th>
                Place
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.startTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.endTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dateAct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activities.actName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activities.actAvailablePlace)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
