@model BnGClub.Models.Activitys

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Activitys</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.actName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.actName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.actDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.actDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.actCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.actCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.actRequirement)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.actRequirement)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.actAvailablePlace)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.actAvailablePlace)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.leaderID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.leaderID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.acttypeID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.acttypeID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Leader)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Leader.leaderEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActType.acttypeDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
