@model BnGClub.Models.Leader

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Leader</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.leaderFName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.leaderFName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.leaderMName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.leaderMName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.leaderLName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.leaderLName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.leaderEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.leaderEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.leaderPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.leaderPhone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
