@model IEnumerable<BnGClub.Models.Subscriptions>

@{
    ViewData["Title"] = "Index";
}

<h2>Registered Subscriptions</h2>

<p>
    <a asp-action="Create">Suscribe (Note: you must give permission to recieve notificaitons to suscribe.)</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PushEndpoint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PushP256DH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PushAuth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="max-width: 100px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
                @Html.DisplayFor(modelItem => item.PushEndpoint)
            </td>
            <td style="max-width: 100px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
                @Html.DisplayFor(modelItem => item.PushP256DH)
            </td>
            <td style="max-width: 100px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
                @Html.DisplayFor(modelItem => item.PushAuth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                <a asp-controller="WebPush" asp-action="Send" asp-route-id="@item.ID" asp-route-SubName="@item.Name">Send</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="5" style="text-align: center; font-weight: bold;">
                    No devices registered yet.
                </td>
            </tr>
        }
    </tbody>
</table>
