@model BnGClub.Models.Announcement

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Announcement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.annMessage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.annMessage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.annDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.annDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LeaderID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Leader.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Activities.actName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
